body{
    color: #bb8180;
    height: 100vh;
    margin: 0;

}

header{
    height: 35px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8.7%;
}

.smallContainer{
    display: flex;
    align-items: center;
}

header img, p{
    margin: 0 2.5px;
}

.title{
    height: 138px;
    text-align: center;
    align-content: center;
}

h1{
    margin:27px 0 0 0 ;
    font-family: 'Cormorant', serif;
    font-weight: 600;
    font-size: 4rem;
}

main{
    background-image: url(images/BG.jpg);
    background-size: cover;
    background-position: right;
    background-position: bottom;
    min-height: 672px;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #e8e8e8;
}

.title p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

nav{
    background-color: rgb(187, 129, 128, .7);
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 29.3%;
}

.save{
    position: absolute;
    top:302px;
    left: 221px;
}

.the{
    position: absolute;
    top:350px; 
    left: 261px;
}

.date{
    position: absolute;
    top:395px;
    left: 178px;
}

.topLine{
    position: absolute;
    top:349.11px;
    left: 361.98px;

    height: 0;
    width: 291.03px;
    border: 1px solid #bb8180;
}

.leftLine{
    position: absolute;
    top: 468.96px;
    left: 272px;

    height: 248.04px;
    width: 0px;
    border-left: 1px solid #bb8180;
}

.container{
    position:absolute;
    top:349.11px;
    left: 272px;

    height: 368px;
    width: 381px;

    border-right: 1px solid #bb8180;
    border-bottom: 1px solid #bb8180;;
}

.text{
    width: 264px;
    height: 161px;
    margin: 64.89px auto 0 auto;
    font-size: 1.5rem;    
    color: black;
    text-align: justify;
    line-height: 23px;
}

.createAccount{
    background-color: #bb8180;
    display: block;
    margin: 29px auto 0 auto;
    height: 58px;
    width: 264px;
    display: flex;
    align-items: center;
}

.createAccount a{
    position: relative;
    left: 31px
}

@media(max-width:1080px){
    nav{
        padding: 0;
        justify-content: space-evenly;
    }
    
}